<%- include("partials/header") -%>
<h1>home</h1>
<p><%=StartingContent%></p>
<% console.log(posts) %>
<!-- for (var i = 0; i >= 0; i++) {
    console.log(input1)
    c++
  } -->
<%- include("partials/footer") -%>